body {
  width: auto;
  height: auto;
  margin: auto;
}

.background-container {
  position: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Open Sans', sans-serif;
  height: 100%;
  width: 100%;
  background-position: center;
  -webkit-transition: background-image 0.5s;
  transition: background-image 0.5s;

}

/* code for top navbar */
.topnav {
  overflow: hidden;
  background-color: transparent;
  margin-left: 3.56%;
}

.topnav a {
  float: left;
  color: #ddd3d3;
  text-align: center;
  padding: 10px 12px;
  text-decoration: none;
  font-size: 15px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* code for search bar */
.search {
  width: 50%;
  left: 48%;
  top: 110px;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 70%;
  border: 3px solid #00B4CC;
  margin-left: 90px;
  padding: 3px;
  height: 40px;
  font-size: 20px;
  border-radius: 5px 5 5 5px;
  outline: none;
  color: black;
}

.searchTerm:focus {
  color: red;
}

.searchButton {
  width: 58px;
  height: 40px;
  border: 3px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 5 5px 5px 5;
  cursor: pointer;
  font-size: 20px;
}

/* code for sidebar */
#mySidenav a {
  position: absolute;
  left: -100px;
  transition: 0.3s;
  padding: 15px;
  width: 100px;
  text-decoration: none;
  font-size: 19px;
  color: white;
  border-radius: 0 5px 5px 0;
}

#mySidenav a:hover {
  left: 0;
}

#spotify {
  top: 90px;
  background-color: #4CAF50;
}

#facebook {
  top: 150px;
  background-color: #2196F3;
}

#youtube {
  top: 210px;
  background-color: #f44336;
}

#twitter {
  top: 270px;
  background-color: #555
}

.time {
  width: 20%;
  font-size: 100px;
  line-height: 1;
  padding: 40px;
  /* padding-left: 10%; */
  margin-left: 130px;
  color: #ddd3d3;
}

.info {
  color: #ddd3d3;
  text-align: center;
}

#quotes {
  text-align: center;
  color: #ddd3d3;
  /* display: flex;
  flex-direction: column; */
  /* min-height: 30vh; */
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.quote {
  font-size: 23px;
}

#change-btn {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  color: white;

}

#chngicon {
  font-size: 25;
}

#change-btn:hover {
  transition: cubic-bezier(0.6, -0.28, 0.735, 0.045);
  color: #4CAF50;
}

#change-btn:active i {
  animation: fa-spin 0.5s linear;
  color: red;
}

.weather {
  padding: 1px 10px 10px 30px;
  width: 30%;
  color: #ddd3d3;
  font-size: 20;
  margin-left: 10;
  /* padding-left: 30px; */
  line-height: 1;
}

.temperature-degree {
  margin-left: 90;
  margin-top: -40;
  font-size: 25;
}

.unit {
  margin-left: 130;
  margin-top: -21;
}

.temperature-description {
  line-height: 0.5;
  padding-left: 14;
}