body {
  width: auto;
  height: auto;
  margin: auto;
  background-color: black !important;
}

.background-container {
  position: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Open Sans', sans-serif;
  height: 100%;
  width: 100%;
  background-position: center;
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;

}

/* code for top navbar */
.topnav {
  overflow: hidden;
  background-color: transparent;
  margin-left: 3.56%;
}

.topnav a {
  float: left;
  color: #ddd3d3;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 15px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* code for search bar */
.search {
  width: 50%;
  left: 45%;
  top: 110px;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 85%;
  border: 3px solid #00B4CC;
  margin-left: 50px;
  padding: 3px;
  height: 45px;
  font-size: 20px;
  border-radius: 5px 5 5 5px;
  outline: none;
  color: black;
}

.searchTerm:focus {
  color: red;
}

.searchButton {
  width: 58px;
  height: 45px;
  border: 3px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 5 5px 5px 5;
  cursor: pointer;
  font-size: 20px;
}

/* code for sidebar */
#mySidenav a {
  position: absolute;
  left: -100px;
  transition: 0.3s;
  padding: 15px;
  width: 100px;
  text-decoration: none;
  font-size: 19px;
  color: white;
  border-radius: 0 5px 5px 0;
}

#mySidenav a:hover {
  left: 0;
}

#spotify {
  top: 90px;
  background-color: #4CAF50;
}

#facebook {
  top: 150px;
  background-color: #2196F3;
}

#youtube {
  top: 210px;
  background-color: #f44336;
}

#twitter {
  top: 270px;
  background-color: #555
}

.time {
  width: 32%;
  font-size: 120px;
  line-height: 1;
  padding: 40px;
  padding-left: 10%;
  color: #ddd3d3;
}

.info {
  color: #ddd3d3;
  text-align: center;
}

#quotes {
  text-align: center;
  color: #ddd3d3;
}
#change-btn {
  background-color: DodgerBlue; 
  border: none; 
  outline: none;
  color: white; 
  padding: 12px 16px; 
  font-size: 16px; 
  cursor: pointer; 
  border-radius:2px;
}
#change-btn:hover {
  transition: cubic-bezier(0.6, -0.28, 0.735, 0.045);
  background-color: RoyalBlue;
}
#change-btn:hover i {
  animation: fa-spin 0.5s linear;
}

#change-btn:active {
  color: grey;
}
.weather {
  padding: 1px  10px 10px 30px;
  width: 30%;
  color: #ddd3d3;
  font-size: 22;
  margin-left: 10;
  /* padding-left: 30px; */
  line-height: 1;
}

.temperature-degree {
  margin-left: 90;
  margin-top: -40;
  font-size: 25;
}

.unit {
  margin-left: 130;
  margin-top: -21;
}

.temperature-description {
  line-height: 0.5;
  padding-left: 14;
}